header {
  margin: 20px 0 42px 0;
  .info {
    background: #24292D;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 94px;
  }
  .image {
    width: 125px;
    height: 125px;
    background: #FFF;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    top: 56px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    font-family: "Museo Sans 900";
    color: #0F142D;
    display: block;
    text-align: center;
    font-size: 34px;
  }
}